html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
	display:block}
	atemplate{
		display:none}
		a{
			background-color:transparent}
a:active,a:hover{
	outline:0}
	abbr[title]{
		border-bottom:2px dotted}
.container {
  position: relative;
  border-radius: 10px;
  background-color: #808000;
  padding: 5px 0 10px 0;
} 
.html{
	background-color: #ADD8E6;
}